/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.header{
  height: 100px;
  text-decoration: underline;
}
.gameBoard{
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  border: solid 2px black;
}
.Squar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: solid 2px black;
  box-sizing: border-box;
}
.circle, .cross{
  font-size: 70px;
  font-weight: bold;
}
.circle{
  color: blue;
}
.cross{
  color: red;
}
.player{
  font-size: 20px;
  font-weight: bold;
  color: rgb(162, 196, 111);
}
.msgs{
  margin-top: 10px;
}
.wins{
  font-size: 20px;
  font-weight: bold;
  color: green;
}